# Created by https://www.gitignore.io/api/python
# Edit at https://www.gitignore.io/?templates=python

### Python ###
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
MANIFEST
AUTHORS
ChangeLog
.eggs/
build/

# Unit test / coverage reports
htmlcov/
.tox/

# Editor stuff
.vim/
