-i https://pypi.org/simple/
appdirs==1.4.4
attrs==20.3.0
backcall==0.2.0
black==19.10b0
click==7.0
decorator==5.0.7
entrypoints==0.3
flake8==3.7.9
importlib-metadata==4.0.0 ; python_version < '3.8'
ipython-genutils==0.2.0
ipython==7.12.0
jedi==0.18.0
mccabe==0.6.1
more-itertools==8.7.0
packaging==20.9
parso==0.8.2
pathspec==0.8.1
pexpect==4.8.0 ; sys_platform != 'win32'
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.18
ptyprocess==0.7.0
py==1.10.0
pycodestyle==2.5.0
pyflakes==2.1.1
pygments==2.8.1
pyparsing==3.0.0b2
pytest==5.3.5
regex==2021.4.4
toml==0.10.2
traitlets==5.0.5
typed-ast==1.4.3
typing-extensions==3.7.4.3 ; python_version < '3.8'
wcwidth==0.2.5
zipp==3.4.1
